@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
</div>
<center>
<button class="btn btn-lg btn-primary"><a asp-action="Login" asp-controller="Home" style="color:white;">Login</a></button>
</center>